#!/usr/bin/make -f

override_dh_auto_build:
	mkdir -p .deps/build
	mv deps-src .deps/build/src
	dh_auto_build -a

override_dh_auto_test:
	build/bin/nvim --version
	build/bin/nvim --headless -u NONE -i NONE -c ':quit'

%:
	dh $@
